.card-img-top {
  width: 50px;
  border: 1px solid;
  border-radius: 2em;
  margin-left: 2px;
  margin-top: 2px;
}

.card {
  border: 1px solid black;
  height: auto;
}

.recruitBox {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}
.imgSrc {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: auto;
  border-radius: 50%;
}

.btn {
  width: 50%;
  border-radius: 2em;
}

.card-text {
  text-align: center;
  border: 2px solid rgb(128, 128, 128);
  width: 50%;
  border-radius: 2em;
}
.card-title {
  text-align: center;
  width: 30%;
}
.rateNote {
  font-size: xx-small;
  text-align: center;
}
